
<!-- Button trigger modal -->
<button #loginBtn hidden data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" ></button>

<div class="area"></div>
<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="container modal-body" style="margin-top:5%;">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 col-lg-6 col-lg-offset-6 shadow" id="content">
                    <form novalidate *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
                        <button type="button" #close class="close" data-dismiss="modal" aria-label="Close" hidden ></button>
                        <div class="form-group row">
                            <h2 class="text-center" style="color: #18bc9c;">Login</h2>
                            <hr>
                            <!-- <label for="example-text-input" class="col-md-3 col-form-label">Nam</label> -->
                            <div class="col-md-6 input-group">
                                <input class="form-control" type="text" id="example-text-input" formControlName="userNameOrEmailControl" placeholder="Press name or email... " dir="ltr">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            </div>
                            <!-- <div class="error">
                                <sd-error [controlToValidate]="loginForm.controls['userNameControl']"></sd-error>
                            </div> -->
                        </div>
                        <div class="form-group row">
                            <!-- <label for="example-text-input" class="col-md-3 col-form-label">סיסמא</label> -->
                            <div class="col-md-6 input-group">
                                <input class="form-control" type="password" formControlName="userPasswordControl" id="example-text-input" dir="ltr" placeholder="Press password...">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> </span>
                            </div>
                            <!-- <div class="error">
                                <sd-error [controlToValidate]="loginForm.controls['userPasswordControl']"></sd-error>
                            </div> -->
                        </div>
                        <button type="submit" class="btn btn-default pull-right btn-color1" [disabled]="!loginForm.valid">Login</button>
                        <button type="button" class="btn btn-default pull-right btn-color1"  (click)="cancel()">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


