.shadow{
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-left: 10px solid #18bc9c;
    border-right: 10px solid #18bc9c;

    overflow:hidden;
}

.btn-color1{
    background-color:#18bc9c;
    color:white;
}

.btn-color1:hover{
    background-color:white;
    color:#18bc9c;
    border: 1px solid #18bc9c;
}
.input-group-addon {background:#18bc9c;
    color: white;
}
.container
{
    position: absolute;
}
#content{
    background-color: white;
    margin-top: 130px;
}
.btn{
    margin-bottom: 10px;
    float: left!important;
    color: teal;
}
.btn:disabled{
   
    color: white;
}
.input-group[class*=col-]{
float: left;
}
label{
    float: right;
}
.error{
    width: 60%;
    height: 40px;
    float: left;
}
.area{
    height: 400px;
}