/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0px;
    padding: 0px;
}
body{
    direction: rtl;
    background-color: teal;
    text-align: center;
    overflow: unset !important;
    padding-right: 0px !important;
}